<h2>Release notes</h2>
<dl>
  <dt>1.2.0</dt>
  <dd>
    <ul>
      <li>Text and Value accessors will be trimmed, so that whitespace in the markup would not be included in the test</li>
      <li>Multiple commands selection that you can execute or remove easily. Use <i>shift + click</i> to select a range</li>
      <li>Drag'n'Drop is now based on HTML5 API and supports moving and copying (use <i>alt + drag</i>) multiple items</li>
      <li>This modal will appear after the extension is updated</li>
      <li>Extension codebase rewritten to TypeScript and Angular</li>
      <li>Angular CLI is used for build</li>
    </ul>
  </dd>
  <dt>1.1.3</dt>
  <dd>
    <ul>
      <li>Export as protractor/jasmine spec file</li>
    </ul>
  </dd>
  <dt>1.0.0</dt>
  <dd>
    <ul>
      <li>Initial release</li>
    </ul>
  </dd>
</dl>