html,
body {
  height: 100vh;
}

body {
  background: #fff;
  margin: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  margin: 4px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  button {
    flex: 1;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 4px;
  }
  .separator {
    flex: 1;
  }
}
@import './_glyphicons-halflings.scss';
@import './components/list/list.scss';
@import './home/home.scss';