<div class="install-container-wrapper">
  <div class="install-container">
    <h1 ng-if="!$ctrl.nativeClientVersion">You are almost done...</h1>
    <h1 ng-if="$ctrl.nativeClientVersion">Newer native client version is required</h1>
    <p>Due to the nature of Chrome extensions it is not possible to directly access file system.</p>
    <p>Therefore you are required to download additional helper application. <a target="__blank" href="https://github.com/cuubas/e2e-test-builder/tree/master/src/io">View source code</a>.</p>
    <ol>
      <li><a href="https://java.com/en/download/" target="__blank">Download and install Java Runtime Environment</a></li>
      <li><a ng-href="{{::$ctrl.hostLink}}">Download native client</a></li>
      <li>Extract zip file</li>
      <li>Run <span class="highlight">{{::$ctrl.executable}}</span></li>
      <li><a href ng-click="$ctrl.verify()">Verify client</a></li>
    </ol>
  </div>
</div>