<div class="toolbar home__toolbar">
  <a ng-click="$ctrl.create($event)" title="create new test case" class="halflings halflings-file"></a>
  <a ng-click="$ctrl.open($event)" title="open existing test case" class="halflings halflings-folder-open"></a>
  <a ng-click="$ctrl.save($event)" title="save" class="halflings halflings-floppy-disk"></a>
  <a ng-click="$ctrl.save($event, true)" title="save as ..." class="halflings halflings-floppy-save"></a>
  <span class="separator"></span>
  <a ng-click="$ctrl.run($event)" ng-if="!$ctrl.running" title="execute commands" class="halflings halflings-play"></a>
  <a ng-click="$ctrl.interruptRunner($event)" ng-if="$ctrl.running" title="cancels" class="halflings halflings-stop"></a>
  <a ng-click="$ctrl.toggleRecording($event)" title="{{$ctrl.isRecordingEnabled?'stop recording':'start recording'}}" class="halflings" ng-class="{'halflings-record':$ctrl.isRecordingEnabled, 'halflings-record-empty':!$ctrl.isRecordingEnabled}"></a>
</div>
<div class="home__content">
  <list items="$ctrl.testCase.items" selected-index="$ctrl.selectedIndex" on-select="$ctrl.onSelect(index)" on-change="$ctrl.onChange()" recording="$ctrl.isRecordingEnabled"></list>
</div>
<datalist id="commands">
  <option ng-repeat="cmd in $ctrl.supportedCommands" value="{{::cmd.value}}">{{::cmd.title}}</option>
</datalist>