.toolbar {
  margin: 8px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  button {
    flex: 1;
    flex-grow: 0;
    margin: 0px 4px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .separator {
    flex: 1;
  }
}