@import '../styles/_variables';

.home {
  &__toolbar {
    &-item {
      display: inline-block;
      cursor: pointer;
      font-size: 16px;
      padding: 4px;
      height: 16px;
      color: $link-color;
      &--dropdown {
        position: relative;
      }
      &:hover,
      &:focus {
        color: $link-color-hover;
        background: #f3f3f3;
        border-radius: 4px;
        .home__toolbar-dropdown {
          display: block;
        }
      }
    }
    &-dropdown {
      display: none;
      position: absolute;
      top: 125%;
      left: 0px;
      z-index: 2;
      width: 150px;
      &-ext {
        float: right;
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-y: scroll;
    flex: 1;
    margin-top: -5px;
    max-height: calc( 100vh - 24px);
  }
}