<div sv-root sv-on-sort="ctrl.onSort($indexFrom, $indexTo)" sv-part="ctrl.items">
  <div ng-repeat="item in ctrl.items" ng-switch="item.type" sv-element>
    <div ng-switch-when="comment" class="item">
      <div sv-handle class="handle"></div>
      <div class="comment"><input ng-model="item.value" /></div>
    </div>
    <div ng-switch-default class="item" ng-class="{'in-progress': item.state === ctrl.STATES.INPROGRESS, 'done': item.state === ctrl.STATES.DONE, 'failed': item.state === ctrl.STATES.FAILED }">
      <div sv-handle class="handle"></div>
      <div class="command"><input list="commands" ng-model="item.command" ng-dblclick="ctrl.execute($event, item, $index)" placeholder="command" /></div>
      <div class="locator"><input ng-model="item.locator" ng-click="ctrl.highlight($event, item)" placeholder="locator" /></div>
      <div class="value"><input ng-model="item.value" placeholder="value" /></div>
    </div>
    <div class="message" ng-if="item.message" ng-bind="item.message"></div>
  </div>
</div>
<div class="toolbar">
  <button ng-click="ctrl.add('comment')">add comment</button>
  <button ng-click="ctrl.add('command')">add command</button>
</div>
<datalist id="commands">
  <option value="click"></option>
  <option value="sendKeys"></option>
  <option value="assertText"></option>
  <option value="assertValue"></option>
  <option value="assertElementPresent"></option>
  <option value="assertVisible"></option>
</datalist>