list {
  display: block;
  padding: 10px 0px;
  .item-wrapper {
    .toolbar {
      display: none;
      height: 0;
      margin: 0;
      position: relative;
      padding-left: 17px;
      a {
        transform: translate(0, -50%);
        display: inline-block;
        height: 16px;
        width: 16px;
        cursor: pointer;
        z-index: 1;
        background: #fff;
        border-radius: 100%;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
    &:hover {
      .toolbar {
        display: block;
      }
    }
    &:first-child {
      .item {
        border-top: 2px solid #eee;
      }
    }
  }
  .item {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    border-bottom: 1px solid #eee;
    flex-wrap: wrap;
    background-color: #fff;
    &.in-progress .command {
      background-color: #ffd881;
    }
    &.done .command {
      background-color: #c2f6c8;
    }
    &.failed .command {
      background-color: #ffd3d3;
    }
    &:hover {
      background-color: #f6f6f6;
      .handle,
      .remove {
        opacity: 0.8;
      }
    }
    &.item--comment {
      background-color: #d9efff;
      &:hover {
        background-color: #cbe9ff;
      }
    }
    .handle,
    .command,
    .comment,
    .value,
    .locator,
    .remove {
      border-bottom: 1px solid #eee;
    }
    .handle {
      min-width: 16px;
      position: relative;
      cursor: move;
      color: #8e8e8e;
      opacity: 0.5;
      order: 0;
      &:before,
      &:after {
        position: absolute;
        left: 5px;
        right: 5px;
        border-color: currentColor;
        border-style: dotted;
        content: '';
        border-top-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 0;
        border-right-width: 0;
        height: 3px;
      }
      &:before {
        top: 7px;
      }
      &:after {
        bottom: 7px;
      }
    }
    .remove {
      position: relative;
      flex: 1 0 0;
      max-width: 14px;
      display: block;
      width: 12px;
      height: 12px;
      color: #8e8e8e;
      opacity: 0.5;
      cursor: pointer;
      padding: 10px 2px 9px;
      order: 2;
      &:hover {
        opacity: 1;
      }
      &:before,
      &:after {
        position: absolute;
        left: 6px;
        content: ' ';
        height: 12px;
        width: 2px;
        background-color: currentColor;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    .command,
    .locator,
    .value,
    .comment {
      border-left: 1px solid #eee;
      padding: 2px;
      box-sizing: border-box;
      flex: 1 0 0;
    }
    .command {
      order: 1;
    }
    .locator {
      order: 3;
    }
    .comment {
      order: 2;
    }
    .value {
      order: 5;
    }
    .locator,
    .value {
      flex: 2 0 0;
      min-width: 100%;
    }
    @media screen and (min-width:350px) {
      .locator,
      .value {
        min-width: 250px;
      }
      .remove {
        order: 4;
      }
    }
    @media screen and (min-width:450px) {
      .command {
        min-width: 150px;
        max-width: 150px;
      }
    }
    @media screen and (min-width:650px) {
      .value {
        order: 4;
      }
    }
    input {
      box-sizing: border-box;
      width: 100%;
      min-width: 0;
      border: 0;
      -webkit-appearance: none;
      padding: 6px 3px;
      outline: none;
      background-color: transparent;
    }
  }
  .message {
    padding: 4px 0px 4px 18px;
    background-color: #ffd765;
  }
}