list {
  display: block;
  .item {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    border-bottom: 2px solid #eee;
    flex-wrap: wrap;
    background-color: #fff;
    &:first-child {
      border-top: 2px solid #eee;
    }
    &.in-progress .command {
      background-color: #ffd881;
    }
    &.done .command {
      background-color: #c2f6c8;
    }
    &.failed .command{
      background-color: #ffd3d3;
    }
    .handle {
      min-width: 16px;
      position: relative;
      cursor: move;
      &:before,
      &:after {
        position: absolute;
        left: 2px;
        right: 2px;
        border-color: #8e8e8e;
        border-style: dotted;
        content: '';
        border-top-width: 4px;
        border-bottom-width: 4px;
        border-left-width: 0;
        border-right-width: 0;
        height: 4px;
      }
      &:before {
        top: 2px;
      }
      &:after {
        bottom: 2px;
      }
    }
    .command,
    .locator,
    .value,
    .comment {
      border-left: 1px solid #eee;
      padding: 2px;
      box-sizing: border-box;
      flex: 1 0 0;
    }
    .comment {
      background-color: #d9efff;
    }
    .locator,
    .value {
      flex: 2 0 0;
      min-width: 100%;
      border-top: 1px solid #eee;
    }
    @media screen and (min-width:350px) {
      .locator,
      .value {
        min-width: 250px;
      }
      .locator {
        border-top: 0;
      }
    }
    @media screen and (min-width:450px) {
      .command {
        min-width: 150px;
        max-width: 150px;
      }
    }
    @media screen and (min-width:650px) {
      .value {
        border-top: 0;
      }
    }
    input {
      box-sizing: border-box;
      width: 100%;
      min-width: 0;
      border: 0;
      -webkit-appearance: none;
      padding: 6px 0px;
      outline: none;
      background-color: transparent;
    }
  }
  .message {
    padding: 4px 0px 4px 18px;
    background-color: #ffd765;
  }
}