<div ng-repeat="item in $ctrl.items" ng-switch="item.type">
  <div ng-switch-when="comment" class="item">
    <div><input ng-model="item.value" /></div>
  </div>
  <div ng-switch-default class="item">
    <div><input list="commands" ng-model="item.command" /></div>
    <div><input ng-model="item.locator" /></div>
    <div><input ng-model="item.value" /></div>
  </div>
</div>

<datalist id="commands">
  <option value="click"></option>
  <option value="sendKeys"></option>
  <option value="assertText"></option>
  <option value="assertValue"></option>
  <option value="assertElementPresent"></option>
  <option value="assertVisible"></option>
</datalist>